@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
body {
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 1105px;
	margin: 0 auto;
}

.full {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.full img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.header {
	min-height: 70px;
	font-family: Open Sans;
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
}

.header__wrapper {
	width: 1400px;
	margin: 0 auto;
	background-color: #000000;
}

.header__container {
	display: flex;
	justify-content: space-between;
	width: 1105px;
	height: 70px;
	background-color: #000000;
}

.header__logo {
	font-size: 35px;
	margin: 15px 0px 0px 5px;
}

.header__burger {
	margin: 13px 0px 0px 0px;
	width: 50px;
	height: 40px;
	position: relative;
	display: none;
	border: 1px solid #000;
}

.header__burger span {
	display: block;
	width: 50px;
	height: 10px;
	background-color: #ffffff;
	margin: 15px 0px 5px 0px;
}

.header__burger:active span {
	display: none;
}

.header__burger::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 10px;
	top: 0;
	background-color: #ed954d;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px;
	transition: 150ms;
}

.header__burger:active::before {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	transform: rotate(-45deg);
	top: 15px;
}

.header__burger::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 10px;
	bottom: 0;
	background-color: #ed954d;
	transition: 150ms;
}

.header__burger:active::after {
	transform: rotate(45deg);
	bottom: 15px;
}

.header .span-1 {
	animation: logo 800ms infinite alternate;
	display: inline-block;
}

.header .span-2 {
	animation: logo 800ms infinite alternate 800ms;
	display: inline-block;
}

.header__nav {
	margin: 25px 0px 0px 0px;
}

.header__li {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	opacity: 0.69;
	display: inline-block;
	padding-bottom: 10px;
	margin-left: 44px;
	transition: 300ms;
}

.header__li:hover {
	opacity: 1;
}

.header__li_one {
	margin-left: 0;
}

@keyframes logo {
	100% {
		transform: scale(1.15);
	}
}

.footer {
	max-width: 1400px;
	height: 100px;
	background-color: #000000;
	font-family: Open Sans;
	margin: 0 auto;
}

.footer__network {
	display: flex;
	justify-content: space-between;
	width: 318px;
	margin: 0px 0px 0px 387px;
	padding: 18px 0px 0px 0px;
}

.footer__network a {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	background-size: 37px 37px;
	transition: 200ms;
}

.footer__network a:hover {
	transform: scale(1.08);
}

.footer__network a {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	background-size: 26px 26px;
}

.footer__a-1 {
	background-image: url(../img/svg/facebook-app-symbol.svg);
}

.footer__a-2 {
	background-image: url(../img/svg/twitter.svg);
}

.footer__a-3 {
	background-image: url(../img/svg/google-plus.svg);
}

.footer__a-4 {
	background-image: url(../img/svg/pinterest.svg);
}

.footer__a-5 {
	background-image: url(../img/svg/instagram.svg);
}

.footer__a-6 {
	background-image: url(../img/svg/vk.svg);
}

.footer__a-7 {
	background-image: url(../img/svg/odnoklassniki.svg);
}

.footer__text {
	opacity: 0.5;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	margin: 15px 0px 0px 0px;
}

.logo {
	color: #ffffff;
	font-weight: 900;
}

.logo span {
	font-family: Raleway;
	color: #ed954d;
	font-weight: 300;
}

.after-left {
	position: relative;
}

.after-left::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 64px;
	height: 2px;
	background-color: #ed954d;
}

.after-center {
	position: relative;
}

.after-center::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0px;
	margin-left: -32px;
	width: 64px;
	height: 2px;
	background-color: #ed954d;
}

.one {
	font-family: Raleway;
	background-color: #9a9a9a;
	max-width: 1400px;
	height: 710px;
	margin: 0 auto;
	position: relative;
}

.one__container {
	height: 711px;
	display: flex;
}

.one__title {
	opacity: 0.21;
	font-family: Open Sans;
	font-size: 33.1px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	margin: 123px 0px 0px 335px;
}

.one__logo {
	font-size: 86px;
	margin: 5px 0px 0px 2px;
}

.one__logo span {
	letter-spacing: -4px;
	margin-left: -1px;
}

.one__h2 {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	padding: 0px 0px 32px 0px;
	margin: 14px 0px 0px 0px;
}

.one__h2::after {
	background-color: #ffffff;
	left: 5px;
}

.one__text {
	opacity: 0.8;
	font-family: Raleway;
	font-size: 16px;
	line-height: 23px;
	font-weight: 300;
	color: #ffffff;
	margin: 35px 0px 0px 3px;
}

.one__button {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	border: 2px solid #ffffff;
	width: 135px;
	height: 42px;
	display: block;
	text-align: center;
	padding-top: 8px;
	margin: 41px 0px 0px 4px;
	transition: 450ms;
}

.one__button:hover {
	border-bottom: 2px solid #666666;
	transform: scale(1.02);
}

.one__button:active {
	transition: 0s;
	transform: scale(1);
}

.one__right {
	margin: 70px 0px 0px 44px;
}

.one__form {
	width: 360px;
}

.form-1 {
	font-family: Open Sans;
	margin: 140px 0px 0px 0px;
}

.form-1__top {
	background-color: #f4f6f4;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
	height: 54px;
	text-align: center;
	padding: 15px 7px 0px 0px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.form-1__top span {
	color: #f69a50;
}

.form-1__center {
	height: 254px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-1__center input {
	width: 285px;
	height: 31px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
	padding: 0px 0px 0px 13px;
}

.form-1__name {
	margin: 29px 0px 0px 0px;
}

.form-1__emale {
	margin: 36px 0px 0px 0px;
}

.form-1__password {
	margin: 47px 0px 0px 0px;
}

.form-1__submit {
	width: 360px;
	height: 54px;
	background-color: #f69a50;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	transition-duration: 450ms, 450ms, 0ms;
	transition-property: box-sizing, background-color, transform;
}

.form-1__submit:hover {
	box-sizing: content-box;
	background-color: #ee714f;
}

.form-1__submit:active {
	transform: scale(0.95);
}

.two {
	max-width: 1400px;
	min-height: 105px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.37);
	font-family: Open Sans;
	background-color: #ffffff;
	margin: 0 auto;
}

.two__container {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
}

.two__title {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
	margin: 20px 0px 0px 4px;
}

.two__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin: 4px 0px 0px 5px;
}

.two__right {
	margin: 30px 0px 0px 0px;
}

.two__network {
	display: flex;
	justify-content: space-between;
	width: 500px;
	margin: 2px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.two__network a {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	background-size: 37px 37px;
	transition: 200ms;
}

.two__network a:hover {
	transform: scale(1.08);
}

.two__a-1 {
	background-image: url(../img/svg/facebook-app-symbol.svg);
}

.two__a-2 {
	background-image: url(../img/svg/twitter.svg);
}

.two__a-3 {
	background-image: url(../img/svg/google-plus.svg);
}

.two__a-4 {
	background-image: url(../img/svg/pinterest-social-logo.svg);
}

.two__a-5 {
	background-image: url(../img/svg/instagram.svg);
}

.two__a-6 {
	background-image: url(../img/svg/vk.svg);
}

.two__a-7 {
	background-image: url(../img/svg/odnoklassniki.svg);
}

.three {
	max-width: 1400px;
	height: 595px;
	background-color: #f5f5f5;
	font-family: Open Sans;
	margin: 0 auto;
}

.three__container {
	display: flex;
	justify-content: space-between;
}

.three__left {
	margin: 146px 0px 0px -6px;
}

.three__sentence {
	width: 112px;
	height: 112px;
	background-color: #333333;
	text-align: center;
	padding-top: 46px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 1px;
	transition: 200ms;
}

.three__sentence:hover {
	transform: scale(1.02);
}

.three__sentence__one {
	background-color: #f58a34;
	margin-bottom: 2px;
}

.three__center {
	display: flex;
	flex-direction: column;
}

.three__center_two {
	display: none;
}

.three__center_three {
	display: none;
}

.three__center_two {
	display: none;
}

.three__center_three {
	display: none;
}

.three__title {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	color: #000000;
	margin: 152px 0px 0px 0px;
}

.three__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin: 50px 0px 0px 0px;
}

.three__text span {
	display: block;
	margin-top: 19px;
}

.three__buttom {
	width: 121px;
	height: 46px;
	text-align: center;
	padding: 10px 0px 0px 0px;
	background-color: #f58a34;
	display: block;
	border-radius: 4px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	color: #ffffff;
	margin: 47px 0px 0px 0px;
	display: block;
	transition: 300ms;
}

.three__buttom:hover {
	box-shadow: 0px 0px 4px #EE3B00;
}

.three__right {
	margin: 172px 0px 0px 0px;
}

.four {
	font-family: Open Sans;
	background-color: #ffffff;
	max-width: 1400px;
	height: 596px;
	margin: 0 auto;
}

.four__container {
	display: flex;
	justify-content: space-between;
}

.four__left {
	width: 453px;
	height: 303px;
	margin: 128px 0px 0px 5px;
}

.four__emage {
	font-size: 33.1px;
	line-height: 1.2;
	font-weight: 400;
}

.four__emage img {
	width: 100%;
	height: 100%;
	color: #86878b;
}

.four__right {
	margin: 0px 21px 0px 0px;
}

.four__title {
	font-size: 20px;
	line-height: 43px;
	font-weight: 700;
	color: #212121;
	margin: 95px 0px 0px 0px;
	padding: 0px 0px 19px 0px;
}

.four__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin: 27px 0px 0px 0px;
}

.four__title-h3 {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	color: #212121;
	margin: 43px 0px 0px 0px;
	padding: 0px 0px 0px 70px;
	position: relative;
}

.four__title-h3::before {
	content: "";
	position: absolute;
	left: 0;
	top: 1px;
	background-image: url(../img/download.jpg);
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
}

.four__title-h3_two {
	margin: 36px 0px 0px 0px;
	padding: 0px 0px 0px 70px;
}

.four__text-h3 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin: 5px 0px 0px 70px;
}

.four__text-h3_two {
	margin: 5px 0px 0px 70px;
}

.five {
	max-width: 1400px;
	height: 592px;
	background-color: #f5f5f5;
	font-family: Open Sans;
	margin: 0 auto;
}

.five__container {
	display: flex;
	justify-content: space-between;
}

.five__left {
	margin-left: 4px;
}

.five__title {
	font-size: 20px;
	line-height: 43px;
	font-weight: 700;
	color: #212121;
	margin: 95px 0px 0px 0px;
	padding: 0px 0px 19px 0px;
}

.five__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin: 26px 0px 0px 0px;
}

.five__text span {
	display: block;
	margin-top: 20px;
}

.five__right {
	width: 453px;
	height: 304px;
	margin: 93px -20px 0px 0px;
}

.five__emage {
	font-family: OpenSans;
	font-size: 33.1px;
	line-height: 1.2;
	font-weight: 400;
	color: #afafaf;
}

.five__emage img {
	width: 100%;
	height: 100%;
}

.six {
	max-width: 1400px;
	height: 592px;
	background-color: #ffffff;
	font-family: Open Sans;
	text-align: center;
	margin: 0 auto;
}

.six__container {
	display: flex;
	flex-direction: column;
}

.six__title {
	font-family: Raleway;
	font-size: 36px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
	margin: 33px 0px 0px 0px;
	padding: 0px 0px 23px 0px;
}

.six__title::after {
	left: 50%;
}

.six__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin: 26px 0px 0px 0px;
}

.six__bottom {
	display: flex;
	justify-content: space-between;
	margin: 80px 0px 0px 0px;
}

.six__column-1 .columns-six__emage {
	margin: 0px 10px 0px 0px;
}

.six__column-3 .columns-six__title {
	margin: 25px 0px 0px 10px;
}

.six__column-3 .columns-six__emage {
	margin: 0px 0px 0px 10px;
}

.columns-six {
	text-align: center;
}

.columns-six__title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #333333;
	margin: 25px 6px 0px 0px;
}

.columns-six__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	width: 352px;
	margin: 21px 0px 0px 0px;
}

.seven {
	max-width: 1400px;
	height: 883px;
	background-color: #f5f5f5;
	font-family: Open Sans;
	margin: 0 auto;
}

.seven__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.seven__title {
	font-family: Raleway;
	font-size: 36px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	width: 312px;
	margin: 32px 0px 0px 397px;
	padding: 0px 0px 25px 0px;
}

.seven__title::after {
	left: 155px;
}

.seven__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin: 26px 0px 0px 372px;
}

.seven__bottom {
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 158px 0px;
}

.seven__colums1 {
	margin: 36px 0px 0px 0px;
}

.seven__colums1 .columns-seven__price-text {
	border-bottom: 5px solid #ff8b38;
	height: 56px;
}

.seven__colums3 {
	margin: 36px 0px 0px 0px;
}

.seven__colums3 .columns-seven__price-text {
	border-bottom: 5px solid #ff8b38;
	height: 56px;
}

.columns-seven {
	text-align: center;
	transition: 450ms;
}

.columns-seven:hover {
	box-shadow: 0px 0px 7px #666666;
}

.columns-seven__title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	width: 343px;
	height: 59px;
	background-color: #343334;
	padding: 15px 0px 0px 0px;
}

.columns-seven__price {
	font-family: Raleway;
	font-size: 35px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: -2px;
	width: 343px;
	height: 100px;
	background-color: #343334;
	padding: 40px 0px 0px 0px;
}

.columns-seven__price span {
	font-size: 94px;
}

.columns-seven__price-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	color: #999999;
	width: 343px;
	height: 51px;
	background-color: #343334;
	padding: 14px 0px 0px 0px;
}

.columns-seven__li {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #86878b;
	width: 343px;
	height: 40px;
	margin-bottom: 2px;
	background-color: #ffffff;
	padding: 10px 0px 0px 0px;
}

.columns-seven__feature {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	background-color: #f58a34;
	width: 343px;
	height: 40px;
	padding: 8px 0px 0px 0px;
}

.eight {
	max-width: 1400px;
	height: 591px;
	font-family: Open Sans;
	background-color: #ffffff;
	margin: 0 auto;
}

.eight__container {
	display: flex;
	flex-direction: column;
}

.eight__title {
	font-family: Raleway;
	font-size: 36px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
	margin: 100px 0px 0px 0px;
	padding: 0px 0px 23px 0px;
}

.eight__title::after {
	left: 50%;
}

.eight__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
	margin: 26px 0px 0px 0px;
}

.eight__bottom {
	display: flex;
	justify-content: space-between;
}

.eight__column1 {
	margin: 0px 0px 0px 25px;
}

.eight__column3 {
	margin: 0px 20px 0px 0px;
}

.columns-eight__top {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #86878b;
	background-image: url(../img/fon_text.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 275px;
	height: 148px;
	margin: 52px 0px 0px 0px;
	padding: 24px 0px 0px 12px;
}

.columns-eight__bottom {
	display: flex;
}

.columns-eight__thoto {
	width: 70px;
	height: 70px;
	background-color: #cccccc;
	border-radius: 50%;
	margin: 10px 0px 0px 0px;
}

.columns-eight__worker {
	margin: 19px 0px 0px 17px;
}

.columns-eight__name {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
}

.columns-eight__position {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #86878b;
	margin: 5px 1px 0px 0px;
}

.nine {
	max-width: 1400px;
	background-color: #9a9a9a;
	font-family: Raleway;
	margin: 0 auto;
	height: 650px;
}

.nine__container {
	display: flex;
	flex-direction: column;
}

.nine__title {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	margin: 67px 0px 0px 0px;
	padding: 0px 0px 23px 0px;
}

.nine__title::after {
	background-color: #ffffff;
	left: 50%;
}

.nine__text {
	opacity: 0.8;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	margin: 31px 14px 0px 0px;
}

.nine__button {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	width: 135px;
	height: 42px;
	border: 2px solid #ffffff;
	text-align: center;
	margin: 33px 0px 0px 486px;
	padding: 8px 0px 0px 0px;
	transition: 450ms;
}

.nine__button:hover {
	border-bottom: 2px solid #666666;
	transform: scale(1.02);
}

.nine__button:active {
	transition: 0s;
	transform: scale(1);
}

.nine__image {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	opacity: 1;
	width: 400px;
	height: 280px;
	margin: 33px 0px 0px 355px;
}

.nine__image img {
	height: 100%;
	width: 100%;
	display: block;
}

.ten {
	max-width: 1400px;
	min-height: 612px;
	background-color: #ffffff;
	font-family: Open Sans;
	margin: 0 auto;
}

.ten__container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.ten__title {
	font-family: Raleway;
	font-size: 36px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
	margin: 100px 0px 0px 0px;
	padding: 0px 0px 23px 0px;
}

.ten__title::after {
	left: 50%;
}

.ten__text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
	margin: 25px 0px 0px 0px;
}

.ten__form {
	display: flex;
	justify-content: space-between;
}

.form-2__left input {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #bdbdbd;
	display: block;
	width: 527px;
	height: 31px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
	padding: 0px 0px 0px 6px;
}

.form-2__name {
	margin: 80px 0px 0px 0px;
}

.form-2__emale {
	margin: 29px 0px 0px 0px;
}

.form-2__subject {
	margin: 30px 0px 0px 0px;
}

.form-2__title-textarea {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #bdbdbd;
}

.form-2__textarea {
	resize: none;
	display: block;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #000;
	overflow: hidden;
	width: 527px;
	height: 145px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
	margin: 87px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
}

.form-2__submit {
	width: 148px;
	height: 46px;
	background-color: #ff8b38;
	position: absolute;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	bottom: -75px;
	right: 50%;
	margin: 0px -74px 0px 0px;
}

.form-2__submit:hover {
	box-sizing: content-box;
	background-color: #ee714f;
}

.form-2__submit:active {
	transform: scale(0.95);
}

@media (max-width: 1400px) {
	.header__wrapper {
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.container {
		width: 768px;
	}

	.header {
		min-height: 70px;
		font-family: Open Sans;
	}

	.header__wrapper {
		max-width: 91.8%;
	}

	.header__container {
		display: flex;
		justify-content: space-between;
	}

	.header__logo {
		font-size: 35px;
		margin: 15px 0px 0px 5px;
	}

	.header .span-1 {
		animation: logo 800ms infinite alternate;
		display: inline-block;
	}

	.header .span-2 {
		animation: logo 800ms infinite alternate 800ms;
		display: inline-block;
	}

	.header__nav {
		margin: 25px 0px 0px 0px;
	}

	.header__li {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		opacity: 0.69;
		display: inline-block;
		padding-bottom: 10px;
		margin-left: 44px;
		transition: 300ms;
	}

	.header__li:hover {
		opacity: 1;
	}

	.header__li_one {
		margin-left: 0;
	}

	@keyframes logo {
		100% {
			transform: scale(1.15);
		}
	}

	.one {
		min-height: 680px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.one__container {
		height: 711px;
		display: flex;
		position: relative;
	}

	.one__title {
		width: 365px;
		margin: 120px 0px 0px 0px;
	}

	.one__logo {
		font-size: 86px;
		margin: 0px 0px 0px 500px;
		position: absolute;
		top: 100px;
		-moz-transform: translate(0, -40px);
	}

	.one__logo span {
		letter-spacing: -4px;
		margin-left: -1px;
	}

	.one__h2 {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		padding: 0px 0px 32px 0px;
		width: 300px;
		margin: 43px 0px 0px 0px;
	}

	.one__h2::after {
		background-color: #ffffff;
		left: 5px;
	}

	.one__text {
		opacity: 0.8;
		font-family: Raleway;
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
		color: #ffffff;
		width: 300px;
	}

	.one__button {
		font-family: Open Sans;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		border: 2px solid #ffffff;
		width: 135px;
		height: 42px;
		display: block;
		text-align: center;
		padding-top: 8px;
		margin: 41px 0px 0px 4px;
		transition: 450ms;
	}

	.one__button:hover {
		border-bottom: 2px solid #666666;
		transform: scale(1.02);
	}

	.one__button:active {
		transition: 0s;
		transform: scale(1);
	}

	.one__right {
		margin: 0px 0px 0px 44px;
	}

	.one__form {
		width: 360px;
		position: absolute;
		display: block;
		bottom: 140px;
		right: 0px;
	}

	.two {
		max-width: 1400px;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.37);
		font-family: Open Sans;
		min-height: 125px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.two__container {
		display: flex;
		justify-content: space-between;
	}

	.two__title {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: #333333;
		margin: 20px 0px 0px 4px;
	}

	.two__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 4px 0px 0px 5px;
	}

	.two__right {
		margin: 30px 0px 0px 0px;
	}

	.two__network {
		display: flex;
		justify-content: space-between;
		width: 500px;
		margin: 2px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.two__network a {
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		background-size: 37px 37px;
		transition: 200ms;
	}

	.two__network a:hover {
		transform: scale(1.08);
	}

	.two__a-1 {
		background-image: url(../img/svg/facebook-app-symbol.svg);
	}

	.two__a-2 {
		background-image: url(../img/svg/twitter.svg);
	}

	.two__a-3 {
		background-image: url(../img/svg/google-plus.svg);
	}

	.two__a-4 {
		background-image: url(../img/svg/pinterest-social-logo.svg);
	}

	.two__a-5 {
		background-image: url(../img/svg/instagram.svg);
	}

	.two__a-6 {
		background-image: url(../img/svg/vk.svg);
	}

	.two__a-7 {
		background-image: url(../img/svg/odnoklassniki.svg);
	}

	.three {
		max-width: 1400px;
		background-color: #f5f5f5;
		font-family: Open Sans;
		max-height: 500px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.three__container {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	.three__left {
		position: absolute;
		display: flex;
		left: 3px;
		top: 165px;
	}

	.three__sentence {
		width: 112px;
		height: 112px;
		background-color: #333333;
		text-align: center;
		padding-top: 46px;
		font-size: 15px;
		line-height: 20px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 1px;
		transition: 200ms;
		margin-right: 24px;
	}

	.three__sentence:hover {
		transform: scale(1.02);
	}

	.three__sentence__one {
		background-color: #f58a34;
		margin-bottom: 2px;
	}

	.three__center {
		display: flex;
		flex-direction: column;
	}

	.three__center_two {
		display: none;
	}

	.three__center_three {
		display: none;
	}

	.three__center_two {
		display: none;
	}

	.three__center_three {
		display: none;
	}

	.three__title {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: #000000;
		margin: 40px 0px 0px 0px;
	}

	.three__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 30px 0px 0px 0px;
		width: 380px;
	}

	.three__text br {
		display: none;
	}

	.three__text span {
		display: block;
		margin-top: 10px;
	}

	.three__buttom {
		width: 121px;
		height: 46px;
		text-align: center;
		padding: 10px 0px 0px 0px;
		background-color: #f58a34;
		display: block;
		border-radius: 4px;
		font-size: 15px;
		line-height: 20px;
		font-weight: 600;
		color: #ffffff;
		display: block;
		transition: 300ms;
		position: absolute;
		right: 100px;
		top: 290px;
	}

	.three__buttom:hover {
		box-shadow: 0px 0px 4px #EE3B00;
	}

	.three__right {
		margin: 40px 0px 0px 0px;
	}

	.four {
		font-family: Open Sans;
		background-color: #ffffff;
		max-width: 1400px;
		height: 525px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.four__container {
		display: flex;
		justify-content: space-between;
	}

	.four__left {
		height: 303px;
		margin: 30px 0px 0px 0px;
		width: 350px;
	}

	.four__emage {
		font-size: 33.1px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
	}

	.four__right {
		margin: 0px 0px 0px 0px;
	}

	.four__title {
		font-size: 20px;
		line-height: 43px;
		font-weight: 700;
		color: #212121;
		margin: 350px 0px 0px -426px;
		padding: 0px 0px 19px 0px;
	}

	.four__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 27px 0px 0px -426px;
	}

	.four__title-h3 {
		font-size: 14px;
		line-height: 17px;
		font-weight: 600;
		color: #212121;
		margin: -460px 0px 0px 0px;
		padding: 0px 0px 0px 70px;
	}

	.four__title-h3::before {
		content: "";
		position: absolute;
		left: 0;
		top: 1px;
		background-image: url(../img/download.jpg);
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
	}

	.four__title-h3_two {
		margin: 36px 0px 0px 0px;
		padding: 0px 0px 0px 70px;
	}

	.four__text-h3 {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 5px 0px 0px 70px;
		width: 270px;
	}

	.four__text-h3_two {
		margin: 5px 0px 0px 70px;
	}

	.five {
		max-width: 1400px;
		background-color: #f5f5f5;
		font-family: Open Sans;
		height: 400px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.five__container {
		display: flex;
		justify-content: space-between;
	}

	.five__left {
		margin-left: 4px;
	}

	.five__title {
		font-size: 20px;
		line-height: 43px;
		font-weight: 700;
		color: #212121;
		margin: 18px 0px 0px 0px;
		padding: 0px 0px 19px 0px;
	}

	.five__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 30px 0px 0px 0px;
		width: 350px;
	}

	.five__text span {
		display: block;
		margin-top: 20px;
	}

	.five__text br {
		display: none;
	}

	.five__right {
		height: 304px;
		width: 350px;
		margin: 30px 0px 0px 0px;
	}

	.five__emage {
		font-family: OpenSans;
		font-size: 33.1px;
		line-height: 1.2;
		font-weight: 400;
	}

	.six {
		max-width: 1400px;
		background-color: #ffffff;
		font-family: Open Sans;
		text-align: center;
		height: 500px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.six__container {
		display: flex;
		flex-direction: column;
	}

	.six__title {
		font-family: Raleway;
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		color: #212121;
		text-align: center;
		margin: 33px 0px 0px 0px;
		padding: 0px 0px 23px 0px;
	}

	.six__title::after {
		left: 50%;
	}

	.six__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 26px 0px 0px 0px;
	}

	.six__bottom {
		display: flex;
		justify-content: space-between;
		margin: 70px 0px 0px 0px;
	}

	.six__column-1 .columns-six__emage {
		margin: 0px 10px 0px 0px;
	}

	.six__column-3 .columns-six__title {
		margin: 25px 0px 0px 10px;
	}

	.six__column-3 .columns-six__emage {
		margin: 0px 0px 0px 10px;
	}

	.six__column-3 .columns-six__text {
		margin: 21px 0px 0px 12px;
	}

	.columns-six {
		text-align: center;
		width: 250px;
	}

	.columns-six__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: #333333;
		margin: 25px 6px 0px 0px;
	}

	.columns-six__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		width: 230px;
		margin: 21px 0px 0px 6px;
	}

	.seven {
		max-width: 1400px;
		background-color: #f5f5f5;
		font-family: Open Sans;
		height: 730px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.seven__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.seven__title {
		font-family: Raleway;
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		color: #212121;
		margin: 32px 0px 0px 230px;
		padding: 0px 0px 25px 0px;
	}

	.seven__title::after {
		left: 155px;
	}

	.seven__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 26px 0px 0px 205px;
	}

	.seven__bottom {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 30px 0px;
	}

	.seven__colums1 {
		margin: 36px 0px 0px 0px;
	}

	.seven__colums1 .columns-seven__price-text {
		border-bottom: 5px solid #ff8b38;
		height: 56px;
	}

	.seven__colums3 {
		margin: 36px 0px 0px 0px;
	}

	.seven__colums3 .columns-seven__price-text {
		border-bottom: 5px solid #ff8b38;
		height: 56px;
	}

	.columns-seven {
		text-align: center;
		transition: 450ms;
	}

	.columns-seven:hover {
		box-shadow: 0px 0px 7px #666666;
	}

	.columns-seven__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: #ffffff;
		height: 59px;
		background-color: #343334;
		padding: 15px 0px 0px 0px;
		width: 245px;
	}

	.columns-seven__price {
		font-family: Raleway;
		font-size: 35px;
		line-height: 24px;
		font-weight: 700;
		color: #ffffff;
		letter-spacing: -2px;
		background-color: #343334;
		padding: 20px 0px 0px 0px;
		height: 90px;
		width: 245px;
	}

	.columns-seven__price span {
		font-size: 94px;
	}

	.columns-seven__price-text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 600;
		color: #999999;
		height: 51px;
		background-color: #343334;
		padding: 14px 0px 0px 0px;
		width: 245px;
	}

	.columns-seven__li {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #86878b;
		height: 40px;
		margin-bottom: 2px;
		background-color: #ffffff;
		padding: 10px 0px 0px 0px;
		width: 245px;
	}

	.columns-seven__feature {
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		color: #ffffff;
		background-color: #f58a34;
		height: 40px;
		padding: 8px 0px 0px 0px;
		width: 245px;
	}

	.eight {
		max-width: 1400px;
		font-family: Open Sans;
		background-color: #ffffff;
		height: 500px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.eight__container {
		display: flex;
		flex-direction: column;
	}

	.eight__title {
		font-family: Raleway;
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		color: #212121;
		text-align: center;
		margin: 50px 0px 0px 0px;
		padding: 0px 0px 23px 0px;
	}

	.eight__title::after {
		left: 50%;
	}

	.eight__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		text-align: center;
		margin: 26px 0px 0px 0px;
	}

	.eight__bottom {
		display: flex;
		justify-content: space-between;
	}

	.eight__column1 {
		margin: 0px 0px 0px 25px;
	}

	.eight__column3 {
		margin: 0px 20px 0px 0px;
	}

	.columns-eight__top {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #86878b;
		background-image: url(../img/fon_text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center;
		height: 148px;
		margin: 52px 0px 0px 0px;
		padding: 24px 0px 0px 12px;
		width: 225px;
	}

	.columns-eight__bottom {
		display: flex;
	}

	.columns-eight__thoto {
		width: 70px;
		height: 70px;
		background-color: #cccccc;
		border-radius: 50%;
		margin: 10px 0px 0px 0px;
	}

	.columns-eight__worker {
		margin: 19px 0px 0px 17px;
	}

	.columns-eight__name {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: #333333;
	}

	.columns-eight__position {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #86878b;
		margin: 5px 1px 0px 0px;
	}

	.nine {
		max-width: 1400px;
		background-color: #9a9a9a;
		font-family: Raleway;
		height: 600px;
		margin: 0px 4.1% 0px 4.1%;
	}

	.nine__container {
		display: flex;
		flex-direction: column;
	}

	.nine__title {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
		margin: 40px 0px 0px 0px;
		padding: 0px 0px 23px 0px;
	}

	.nine__title::after {
		background-color: #ffffff;
		left: 50%;
	}

	.nine__text {
		opacity: 0.8;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 300;
		color: #ffffff;
		text-align: center;
		margin: 31px 14px 0px 0px;
	}

	.nine__button {
		font-family: Open Sans;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		width: 135px;
		height: 42px;
		border: 2px solid #ffffff;
		text-align: center;
		transition: 450ms;
		margin: 33px 0px 0px 312px;
		padding: 8px 0px 0px 0px;
	}

	.nine__button:hover {
		border-bottom: 2px solid #666666;
		transform: scale(1.02);
	}

	.nine__button:active {
		transition: 0s;
		transform: scale(1);
	}

	.nine__image {
		font-family: Open Sans;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		margin: 33px 0px 0px 30.5%;
		text-align: center;
		width: 300px;
	}

	.ten {
		max-width: 1400px;
		min-height: 612px;
		background-color: #ffffff;
		font-family: Open Sans;
		margin: 0px 4.1% 0px 4.1%;
	}

	.ten__container {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.ten__title {
		font-family: Raleway;
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		color: #212121;
		text-align: center;
		margin: 100px 0px 0px 0px;
		padding: 0px 0px 23px 0px;
	}

	.ten__title::after {
		left: 50%;
	}

	.ten__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		text-align: center;
		margin: 25px 0px 0px 0px;
	}

	.ten__form {
		display: flex;
		justify-content: space-between;
	}

	.form-2__left input {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #bdbdbd;
		display: block;
		height: 31px;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
		padding: 0px 0px 0px 6px;
		width: 355px;
	}

	.form-2__name {
		margin: 80px 0px 0px 0px;
	}

	.form-2__emale {
		margin: 29px 0px 0px 0px;
	}

	.form-2__subject {
		margin: 30px 0px 0px 0px;
	}

	.form-2__title-textarea {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #bdbdbd;
	}

	.form-2__textarea {
		resize: none;
		display: block;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #000;
		height: 145px;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
		margin: 87px 0px 0px 0px;
		padding: 5px 5px 5px 5px;
		width: 355px;
		-ms-transform: translate(25px, 0px);
	}

	.form-2__submit {
		width: 148px;
		height: 46px;
		background-color: #ff8b38;
		position: absolute;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		bottom: -75px;
		right: 50%;
		margin: 0px -74px 0px 0px;
	}

	.footer {
		max-width: 1400px;
		height: 100px;
		background-color: #000000;
		font-family: Open Sans;
		margin: 0px 4.1% 0px 4.1%;
	}

	.footer__network {
		display: flex;
		justify-content: space-between;
		width: 318px;
		margin: 0px 0px 0px 29%;
		padding: 18px 0px 0px 0px;
	}

	.footer__network a {
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		background-size: 37px 37px;
		transition: 200ms;
	}

	.footer__network a:hover {
		transform: scale(1.08);
	}

	.footer__network a {
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		background-size: 26px 26px;
	}

	.footer__a-1 {
		background-image: url(../img/svg/facebook-app-symbol.svg);
	}

	.footer__a-2 {
		background-image: url(../img/svg/twitter.svg);
	}

	.footer__a-3 {
		background-image: url(../img/svg/google-plus.svg);
	}

	.footer__a-4 {
		background-image: url(../img/svg/pinterest.svg);
	}

	.footer__a-5 {
		background-image: url(../img/svg/instagram.svg);
	}

	.footer__a-6 {
		background-image: url(../img/svg/vk.svg);
	}

	.footer__a-7 {
		background-image: url(../img/svg/odnoklassniki.svg);
	}

	.footer__text {
		opacity: 0.5;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
		margin: 15px 0px 0px 0px;
	}
}

@media (max-width: 900px) {
	.container {
		width: 320px;
	}

	.header {
		min-height: 70px;
		font-family: Open Sans;
		max-width: 1400px;
		background-color: #ffffff;
	}

	.header__wrapper {
		max-width: 84%;
	}

	.header__container {
		display: flex;
		justify-content: space-between;
	}

	.header__logo {
		font-size: 30px;
		margin: 18px 0px 0px 10px;
	}

	.header__burger {
		width: 50px;
		height: 40px;
		position: relative;
		display: block;
		margin: 13px 30px 0px 0px;
	}

	.header__burger span {
		display: block;
		width: 50px;
		height: 10px;
		background-color: #ffffff;
		margin: 15px 0px 5px 0px;
	}

	.header__burger:active span {
		display: none;
	}

	.header__burger::before {
		content: "";
		position: absolute;
		width: 50px;
		height: 10px;
		top: 0;
		background-color: #ed954d;
		border-top-left-radius: 45px;
		border-top-right-radius: 45px;
		transition: 150ms;
	}

	.header__burger:active::before {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		transform: rotate(-45deg);
		top: 15px;
	}

	.header__burger::after {
		content: "";
		position: absolute;
		width: 50px;
		height: 10px;
		bottom: 0;
		background-color: #ed954d;
		transition: 150ms;
	}

	.header__burger:active::after {
		transform: rotate(45deg);
		bottom: 15px;
	}

	.header .span-1 {
		animation: logo 800ms infinite alternate;
		display: inline-block;
	}

	.header .span-2 {
		animation: logo 800ms infinite alternate 800ms;
		display: inline-block;
	}

	.header__nav {
		margin: 25px 0px 0px 0px;
		display: none;
	}

	.header__li {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		opacity: 0.69;
		display: inline-block;
		padding-bottom: 10px;
		margin-left: 44px;
		transition: 300ms;
	}

	.header__li:hover {
		opacity: 1;
	}

	.header__li_one {
		margin-left: 0;
	}

	@keyframes logo {
		100% {
			transform: scale(1.15);
		}
	}

	.one {
		font-family: Raleway;
		background-color: #9a9a9a;
		max-width: 1400px;
		height: 870px;
		margin: 0px 8% 0px 8%;
	}

	.one__container {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 830px;
	}

	.one__title {
		opacity: 0.21;
		font-family: Open Sans;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		font-size: 27px;
		margin: 100px 0px 0px 10px;
		width: 300px;
	}

	.one__logo {
		font-size: 86px;
		margin: 0px 0px 0px 500px;
		position: absolute;
		top: 55px;
		-moz-transform: translate(0, -40px);
		display: none;
	}

	.one__logo span {
		letter-spacing: -4px;
		margin-left: -1px;
	}

	.one__h2 {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		padding: 0px 0px 32px 0px;
		width: 300px;
		text-align: center;
		margin: 14px 0px 0px 8px;
	}

	.one__h2::after {
		background-color: #ffffff;
		left: 50%;
		margin: 0px 0px 0px -30px;
	}

	.one__text {
		opacity: 0.8;
		font-family: Raleway;
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
		color: #ffffff;
		width: 300px;
		display: none;
	}

	.one__button {
		font-family: Open Sans;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		border: 2px solid #ffffff;
		width: 135px;
		height: 42px;
		display: block;
		text-align: center;
		padding-top: 8px;
		transition: 450ms;
		margin: 40px 0px 0px 90px;
	}

	.one__button:hover {
		border-bottom: 2px solid #666666;
		transform: scale(1.02);
	}

	.one__button:active {
		transition: 0s;
		transform: scale(1);
	}

	.one__right {
		margin: 0px 0px 0px 0px;
	}

	.one__form {
		position: absolute;
		display: block;
		width: 300px;
		bottom: 0px;
		right: 10px;
	}

	.form-1 {
		font-family: Open Sans;
		margin: 140px 0px 0px 0px;
	}

	.form-1__top {
		background-color: #f4f6f4;
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: #333333;
		height: 54px;
		text-align: center;
		padding: 15px 7px 0px 0px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	.form-1__top span {
		color: #f69a50;
	}

	.form-1__center {
		height: 254px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form-1__center input {
		width: 285px;
		height: 31px;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
		padding: 0px 0px 0px 13px;
	}

	.form-1__name {
		margin: 29px 0px 0px 0px;
	}

	.form-1__emale {
		margin: 36px 0px 0px 0px;
	}

	.form-1__password {
		margin: 47px 0px 0px 0px;
	}

	.form-1__submit {
		height: 54px;
		background-color: #f69a50;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		transition-duration: 450ms, 450ms, 0ms;
		transition-property: box-sizing, background-color, transform;
		width: 300px;
	}

	.form-1__submit:hover {
		box-sizing: content-box;
		background-color: #ee714f;
	}

	.form-1__submit:active {
		transform: scale(0.95);
	}

	.two {
		max-width: 1400px;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.37);
		font-family: Open Sans;
		min-height: 125px;
		margin: 0px 8% 0px 8%;
	}

	.two__container {
		display: flex;
		justify-content: fs;
		background-color: #ffffff;
	}

	.two__title {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: #333333;
		margin: 20px 0px 0px 0px;
		text-align: center;
	}

	.two__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		width: 300px;
		margin: 4px 0px 0px 10px;
		text-align: center;
	}

	.two__right {
		margin: 30px 0px 0px 0px;
		display: none;
	}

	.two__network {
		display: flex;
		justify-content: space-between;
		margin: 2px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.two__network a {
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		background-size: 37px 37px;
		transition: 200ms;
	}

	.two__network a:hover {
		transform: scale(1.08);
	}

	.two__a-1 {
		background-image: url(../img/svg/facebook-app-symbol.svg);
	}

	.two__a-2 {
		background-image: url(../img/svg/twitter.svg);
	}

	.two__a-3 {
		background-image: url(../img/svg/google-plus.svg);
	}

	.two__a-4 {
		background-image: url(../img/svg/pinterest-social-logo.svg);
	}

	.two__a-5 {
		background-image: url(../img/svg/instagram.svg);
	}

	.two__a-6 {
		background-image: url(../img/svg/vk.svg);
	}

	.two__a-7 {
		background-image: url(../img/svg/odnoklassniki.svg);
	}

	.three {
		max-width: 1400px;
		background-color: #f5f5f5;
		font-family: Open Sans;
		margin: 0px 8% 0px 8%;
		height: 440px;
	}

	.three__container {
		display: flex;
		justify-content: space-between;
	}

	.three__left {
		position: absolute;
		display: flex;
		top: 170px;
		left: 11%;
	}

	.three__sentence {
		background-color: #333333;
		text-align: center;
		font-size: 15px;
		line-height: 20px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 1px;
		transition: 200ms;
		width: 20px;
		height: 20px;
		margin-right: 100px;
		padding-top: 0px;
	}

	.three__sentence span {
		display: none;
	}

	.three__sentence:hover {
		transform: scale(1.02);
	}

	.three__sentence__one {
		background-color: #f58a34;
		margin-bottom: 2px;
	}

	.three__sentence__three {
		margin-right: 0;
	}

	.three__center {
		display: flex;
		flex-direction: column;
	}

	.three__center_two {
		display: none;
	}

	.three__center_three {
		display: none;
	}

	.three__center_two {
		display: none;
	}

	.three__center_three {
		display: none;
	}

	.three__title {
		line-height: 1.2;
		font-weight: 700;
		color: #000000;
		margin: 40px 0px 0px 10px;
		font-size: 16px;
		text-align: center;
		max-width: 292px;
	}

	.three__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		width: 292px;
		margin: 20px 0px 0px 10px;
		text-align: center;
	}

	.three__text br {
		display: none;
	}

	.three__text span {
		display: block;
		margin-top: 10px;
	}

	.three__buttom {
		width: 121px;
		height: 46px;
		text-align: center;
		padding: 10px 0px 0px 0px;
		background-color: #f58a34;
		display: block;
		border-radius: 4px;
		font-size: 15px;
		line-height: 20px;
		font-weight: 600;
		color: #ffffff;
		display: block;
		transition: 300ms;
		position: absolute;
		right: 100px;
		top: 320px;
	}

	.three__buttom:hover {
		box-shadow: 0px 0px 4px #EE3B00;
	}

	.three__right {
		margin: 40px 0px 0px 0px;
		display: none;
	}

	.four {
		font-family: Open Sans;
		background-color: #ffffff;
		max-width: 1400px;
		height: 600px;
		margin: 0px 8% 0px 8%;
	}

	.four__container {
		display: flex;
		justify-content: flex-start;
		height: 550px;
		flex-direction: column;
	}

	.four__left {
		height: 303px;
		margin: 50px 0px 0px 0px;
		width: auto;
	}

	.four__emage {
		font-size: 33.1px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		width: 310px;
		height: 303px;
		margin: 0px 0px 0px 4px;
	}

	.four__right {
		margin: 0px 0px 0px 0px;
		height: 100px;
	}

	.four__title {
		font-size: 20px;
		line-height: 43px;
		font-weight: 700;
		color: #212121;
		margin: 10px 0px 0px 0px;
		padding: 0px 0px 19px 0px;
		text-align: center;
	}

	.four__title::after {
		left: 50%;
		margin-left: -30px;
	}

	.four__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		text-align: center;
		margin: 30px 0px 0px 0px;
	}

	.four__text br {
		display: none;
	}

	.four__title-h3 {
		font-size: 14px;
		line-height: 17px;
		font-weight: 600;
		color: #212121;
		margin: -460px 0px 0px 0px;
		padding: 0px 0px 0px 70px;
		display: none;
	}

	.four__title-h3::before {
		content: "";
		position: absolute;
		left: 0;
		top: 1px;
		background-image: url(../img/download.jpg);
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
	}

	.four__title-h3_two {
		margin: 36px 0px 0px 0px;
		padding: 0px 0px 0px 70px;
	}

	.four__text-h3 {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 5px 0px 0px 70px;
		width: 270px;
		display: none;
	}

	.four__text-h3_two {
		margin: 5px 0px 0px 70px;
	}

	.five {
		max-width: 1400px;
		background-color: #f5f5f5;
		font-family: Open Sans;
		height: 680px;
		margin: 0px 8% 0px 8%;
	}

	.five__container {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	.five__left {
		margin: 0px 0px 0px 0px;
		order: 2;
	}

	.five__title {
		font-size: 20px;
		line-height: 43px;
		font-weight: 700;
		color: #212121;
		margin: 18px 0px 0px 0px;
		padding: 0px 0px 19px 0px;
		text-align: center;
	}

	.five__title::after {
		left: 50%;
		margin-left: -30px;
	}

	.five__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 30px 0px 0px 10px;
		width: 300px;
		text-align: center;
	}

	.five__text span {
		display: block;
		margin-top: 20px;
	}

	.five__right {
		height: 304px;
		width: 300px;
		margin: 30px 0px 0px 7px;
		order: 1;
	}

	.five__emage {
		font-family: OpenSans;
		font-size: 33.1px;
		line-height: 1.2;
		font-weight: 400;
		width: 304px;
		height: 100%;
	}

	.six {
		max-width: 1400px;
		background-color: #ffffff;
		font-family: Open Sans;
		text-align: center;
		height: 1090px;
		margin: 0px 8% 0px 8%;
	}

	.six__container {
		display: flex;
		flex-direction: column;
	}

	.six__title {
		font-family: Raleway;
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		color: #212121;
		text-align: center;
		margin: 33px 0px 0px 0px;
		padding: 0px 0px 23px 0px;
	}

	.six__title::after {
		left: 50%;
	}

	.six__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 26px 0px 0px 0px;
	}

	.six__bottom {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin: 10px 0px 0px 0px;
	}

	.six__column-1 .columns-six__emage {
		margin: 0px 10px 0px 0px;
	}

	.six__column-3 .columns-six__title {
		margin: 25px 0px 0px 10px;
	}

	.six__column-3 .columns-six__emage {
		margin: 0px 0px 0px 10px;
	}

	.six__column-3 .columns-six__text {
		margin: 21px 0px 0px 12px;
	}

	.columns-six {
		text-align: center;
		width: 250px;
		margin: 40px 0px 0px 35px;
	}

	.columns-six__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: #333333;
		margin: 25px 6px 0px 0px;
	}

	.columns-six__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		width: 230px;
		margin: 21px 0px 0px 6px;
	}

	.seven {
		max-width: 1400px;
		background-color: #f5f5f5;
		font-family: Open Sans;
		height: 1700px;
		margin: 0px 8% 0px 8%;
	}

	.seven__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.seven__title {
		font-family: Raleway;
		line-height: 43px;
		font-weight: 400;
		color: #212121;
		margin: 32px 0px 0px 20px;
		font-size: 32px;
	}

	.seven__title::after {
		left: 50%;
		margin-left: -45px;
	}

	.seven__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		margin: 26px 0px 0px 0px;
		text-align: center;
	}

	.seven__bottom {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin: 0px 0px 30px 0px;
	}

	.seven__colums1 {
		margin: 0px 0px 0px 0px;
	}

	.seven__colums1 .columns-seven__price-text {
		border-bottom: 5px solid #ff8b38;
		height: 56px;
	}

	.seven__colums2 {
		margin: 36px 0px 0px 0px;
	}

	.seven__colums3 {
		margin: 36px 0px 0px 0px;
	}

	.seven__colums3 .columns-seven__price-text {
		border-bottom: 5px solid #ff8b38;
		height: 56px;
	}

	.columns-seven {
		text-align: center;
		transition: 450ms;
		margin-left: 35px;
		width: 245px;
	}

	.columns-seven:hover {
		box-shadow: 0px 0px 7px #666666;
	}

	.columns-seven__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: #ffffff;
		height: 59px;
		background-color: #343334;
		padding: 15px 0px 0px 0px;
		width: 245px;
	}

	.columns-seven__price {
		font-family: Raleway;
		font-size: 35px;
		line-height: 24px;
		font-weight: 700;
		color: #ffffff;
		letter-spacing: -2px;
		background-color: #343334;
		padding: 20px 0px 0px 0px;
		height: 90px;
		width: 245px;
	}

	.columns-seven__price span {
		font-size: 94px;
	}

	.columns-seven__price-text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 600;
		color: #999999;
		height: 51px;
		background-color: #343334;
		padding: 14px 0px 0px 0px;
		width: 245px;
	}

	.columns-seven__li {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #86878b;
		height: 40px;
		margin-bottom: 2px;
		background-color: #ffffff;
		padding: 10px 0px 0px 0px;
		width: 245px;
	}

	.columns-seven__feature {
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		color: #ffffff;
		background-color: #f58a34;
		height: 40px;
		padding: 8px 0px 0px 0px;
		width: 245px;
	}

	.eight {
		max-width: 1400px;
		font-family: Open Sans;
		background-color: #ffffff;
		height: 1160px;
		margin: 0px 8% 0px 8%;
	}

	.eight__container {
		display: flex;
		flex-direction: column;
	}

	.eight__title {
		font-family: Raleway;
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		color: #212121;
		text-align: center;
		margin: 50px 0px 0px 0px;
		padding: 0px 0px 23px 0px;
	}

	.eight__title::after {
		left: 50%;
	}

	.eight__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		text-align: center;
		margin: 26px 0px 0px 0px;
	}

	.eight__bottom {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	.eight__column1 {
		margin: 60px 0px 0px 0px;
	}

	.eight__column2 {
		margin: 0px 0px 0px 0px;
	}

	.eight__column3 {
		margin: 0px 0px 0px 0px;
	}

	.columns-eight {
		margin-left: 46px;
		width: 228px;
	}

	.columns-eight__top {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #86878b;
		background-image: url(../img/fon_text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center;
		height: 148px;
		width: 225px;
		margin: 0px 0px 0px 0px;
		padding: 24px 0px 0px 12px;
	}

	.columns-eight__bottom {
		display: flex;
	}

	.columns-eight__thoto {
		width: 70px;
		height: 70px;
		background-color: #cccccc;
		border-radius: 50%;
		margin: 10px 0px 50px 0px;
	}

	.columns-eight__worker {
		margin: 19px 0px 0px 17px;
	}

	.columns-eight__name {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: #333333;
	}

	.columns-eight__position {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #86878b;
		margin: 5px 1px 0px 0px;
	}

	.nine {
		max-width: 1400px;
		background-color: #9a9a9a;
		font-family: Raleway;
		min-height: 670px;
		margin: 0px 8% 0px 8%;
	}

	.nine__container {
		display: flex;
		flex-direction: column;
	}

	.nine__title {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
		margin: 40px 0px 0px 0px;
		padding: 0px 0px 23px 0px;
	}

	.nine__title::after {
		background-color: #ffffff;
		left: 50%;
	}

	.nine__text {
		opacity: 0.8;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 300;
		color: #ffffff;
		text-align: center;
		margin: 31px 14px 0px 0px;
	}

	.nine__button {
		font-family: Open Sans;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		width: 135px;
		height: 42px;
		border: 2px solid #ffffff;
		text-align: center;
		transition: 450ms;
		margin: 33px 0px 0px 92px;
		padding: 8px 0px 0px 0px;
	}

	.nine__button:hover {
		border-bottom: 2px solid #666666;
		transform: scale(1.02);
	}

	.nine__button:active {
		transition: 0s;
		transform: scale(1);
	}

	.nine__image {
		font-family: Open Sans;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		margin: 33px 0px 0px 10px;
		text-align: center;
		width: 300px;
	}

	.nine__image img {
		width: 100%;
		height: 100%;
	}

	.ten {
		max-width: 1400px;
		background-color: #ffffff;
		font-family: Open Sans;
		min-height: 630px;
		margin: 0px 8% 0px 8%;
	}

	.ten__container {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.ten__title {
		font-family: Raleway;
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		color: #212121;
		text-align: center;
		margin: 30px 0px 0px 0px;
		padding: 0px 0px 23px 0px;
	}

	.ten__title::after {
		left: 50%;
	}

	.ten__text {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
		text-align: center;
		margin: 25px 0px 0px 0px;
	}

	.ten__form {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	.form-2__left input {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #bdbdbd;
		display: block;
		height: 31px;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
		padding: 0px 0px 0px 6px;
		width: 270px;
		margin-left: 25px;
	}

	.form-2__name {
		margin: 40px 0px 0px 0px;
	}

	.form-2__emale {
		margin: 29px 0px 0px 0px;
	}

	.form-2__subject {
		margin: 30px 0px 0px 0px;
	}

	.form-2__title-textarea {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #bdbdbd;
	}

	.form-2__textarea {
		resize: none;
		display: block;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #000;
		height: 145px;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
		padding: 5px 5px 5px 5px;
		width: 270px;
		max-height: 300px;
		margin: 30px 0px 0px 25px;
		overflow: auto;
	}

	.form-2__submit {
		width: 148px;
		height: 46px;
		background-color: #ff8b38;
		position: absolute;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		bottom: -75px;
		right: 50%;
		margin: 0px -74px 0px 0px;
	}

	.footer {
		max-width: 1400px;
		height: 100px;
		background-color: #000000;
		font-family: Open Sans;
		margin: 0px 8% 0px 8%;
	}

	.footer__network {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 0px 10px;
		padding: 18px 0px 0px 0px;
		width: 300px;
	}

	.footer__network a {
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		background-size: 37px 37px;
		transition: 200ms;
	}

	.footer__network a:hover {
		transform: scale(1.08);
	}

	.footer__network a {
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		background-size: 26px 26px;
	}

	.footer__a-1 {
		background-image: url(../img/svg/facebook-app-symbol.svg);
	}

	.footer__a-2 {
		background-image: url(../img/svg/twitter.svg);
	}

	.footer__a-3 {
		background-image: url(../img/svg/google-plus.svg);
	}

	.footer__a-4 {
		background-image: url(../img/svg/pinterest.svg);
	}

	.footer__a-5 {
		background-image: url(../img/svg/instagram.svg);
	}

	.footer__a-6 {
		background-image: url(../img/svg/vk.svg);
	}

	.footer__a-7 {
		background-image: url(../img/svg/odnoklassniki.svg);
	}

	.footer__text {
		opacity: 0.5;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
		margin: 15px 0px 0px 0px;
	}
}

@media (max-width: 380px) {
	.header {
		margin: 0px 0px 0px 0px;
	}

	.header__wrapper {
		max-width: 100%;
	}

	.one {
		margin: 0px 0px 0px 0px;
	}

	.two {
		margin: 0px 0px 0px 0px;
	}

	.three {
		margin: 0px 0px 0px 0px;
	}

	.four {
		margin: 0px 0px 0px 0px;
	}

	.five {
		margin: 0px 0px 0px 0px;
	}

	.six {
		margin: 0px 0px 0px 0px;
	}

	.seven {
		margin: 0px 0px 0px 0px;
	}

	.eight {
		margin: 0px 0px 0px 0px;
	}

	.nine {
		margin: 0px 0px 0px 0px;
	}

	.ten {
		margin: 0px 0px 0px 0px;
	}

	.footer {
		margin: 0px 0px 0px 0px;
	}
}
